<h3>and/or create a new landmark</h3>
<form method=post action="/landmarks">
Name:<input type=text name = landmark[name] id=landmark_name>
<br>
<br>
Year Completed:<input type=text name = landmark[year_completed] id=landmark_year_completed>
<br>
<input type=submit value="Create New Landmark">
</form>
